* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

image {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  background: darkslategray;
}

.header .links {
  text-decoration: none;
  margin: 0 10px;
  color: #fff;
}

.showcase {
  background: url(./assets/image2.jpg) no-repeat center/
  cover;
  height: 650px;
}

.showcase .overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 650px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

.showcase .overlay h1 {
  font-size: 32px;
  padding-bottom: 20px;
}

/*Login*/
.form {
  display: flex;
  flex-direction: column;
}

.login h4 {
  font-size: 30px;
  margin: 10px 0;
}

.login .form input {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 30vw;
  letter-spacing: 1px;
  font-family: inherit;
  font-weight: 700;
  background-color: grey;
}

.login .form input::placeholder {
  font-weight: 300;
  color: #f1f1f1;
}

.login .form button {
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-family: inherit;
  font-weight: 600;
  color: darkgray;
  background-color: darkslategray;
  cursor: pointer;
}

/*Sign-up*/
.form {
  display: flex;
  flex-direction: column;
}

.signup h4 {
  font-size: 30px;
  margin: 10px 0;
}

.signup .form input {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 30vw;
  letter-spacing: 1px;
  font-family: inherit;
  font-weight: 700;
  background-color: grey;
}

.signup .form input::placeholder {
  font-weight: 300;
  color: #f1f1f1;
}

.signup .form button {
  border: none;
  border-radius: 10px;
  padding: 7px;
  font-family: inherit;
  font-weight: 600;
  color: darkgray;
  background-color: darkslategray;
  cursor: pointer;
}

.grid {
  padding: 50px;
}

.grid h3 {
  padding: 20px;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 30px;
  padding-bottom: 20px;
}

.grid .grid-items div{
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}

.grid .grid-items div h4 {
  padding: 10px 0;
  font-size: 20px;
}

.grid .grid-items div p {
  line-height: 1.8;
}

.grid img {
  border-radius: 10px;
  width: 450px;
}

.footer {
  background-color: #333;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 30px;
}

.footer ul li {
  margin: 10px 0;
}
.footer ul li button {
  border: none;
  justify-content: space-between;
  background-color: transparent;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.4 ease-in-out;
  letter-spacing: 1px;
  font-family: inherit;
}

.footer ul li button:hover {
  background-color: #fff;
  color: #000;
}

@media (min-width: 786px) {
  .showcase .overlay h1{
    font-size: 64px;
  }
  .showcase .overlay p {
    font-size: 24px;
  }
  .grid .grid-items {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }
  .grid .grid-items div img {
    height: 150px;
    width: 300px;
  }
}

@media (min-width: 992px) {
  .showcase {
    background-position: top;
  }
  .grid h3 {
    align-items: center;
    display: flex;
  }
  .grid .grid-items {
    grid-template-columns: repeat(3,1fr);
    text-align: center;
  }
  
}